$primary_linear_color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,219,222,1) 0%, rgba(252,0,255,1) 100%);
$secondary_linear_color: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(0,219,222,1) 0%, rgba(252,0,255,1) 100%);
$primary_color: #00DBDE;
$secondary_color: #FC00FF;