@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #141526;
}

/* Header */
.navbar--custom {
    background-color: #141526 !important;
}

.navbar-brand--custom {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #6f42c1 !important;
}

/* Main */
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;
}

.button-wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transition: all .7s;
}

.start-button {
    position: relative;
    top: 0;
    left: -50%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 180px;
    width: 180px;

    border: none;

    background: transparent;
}

.button-wrapper.start-button--disable {
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: -1;
}

.start-button:hover {
    background: transparent;
}

.start-button:hover .start-button__background {
    background-color: #232f4e;
}

.start-button__border {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    border-radius: 50%;

    background: linear-gradient(to bottom,#2de5d1,#1fa4e9);
    z-index: 1;
}

.start-button__background {
    position: absolute;
    
    left: 5px;
    top: 5px;

    border-radius: 50%;

    background-color: #141526;

    height: 170px;
    width: 170px;
    z-index: 2;
}

.start-button__text {
    position: relative;
    top: -5px;
    left: 0;

    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;

    z-index: 3;
}

.test {
    position: relative;
    top: 5rem;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    z-index: -1;
    transition: all .7s;
}

.test.test-able {
    top: 0;
    opacity: 1;
    z-index: 1;
}

.test__number {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

.test__number h1 {
    font-size: 10rem;
    font-weight: 700;
    color: #1fa4e9;
}

.test__number span {
    position: absolute;
    bottom: -2rem;
    right: -6rem;

    font-size: 3rem;
    font-weight: 500;
    color: #2de5d1;
}

.test__content {
    border: 2px solid #1fa4e9;
    border-radius: 7px;
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: justify;

    font-size: 1.2rem;
    line-height: 2rem;
}

/* LeaderBoard */
.leaderBoard {
    width: 100%;
    height: 60vh;
    margin-top: 10vh;
}

.avatar {
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}